SchoolChatSecretsUri=https://chatapivault.vault.azure.net/
ASPNETCORE_HTTPS_PORT=7148
ASPNETCORE_HTTP_PORT=5246

AZURE_TENANT_ID=<your_tenant_id>
AZURE_CLIENT_ID=<your_registered_azure_client_id>
AZURE_CLIENT_SECRET=<your_registered_azure_client_secret>

Jwt__SecretKey=NtxXnU6jyVyPBNMev6nC3S4+nlOZbxGGUWydOLhpP0g=
Jwt__Issuer=SchoolChatApi
Jwt__Audience=SchoolChatClient
Jwt__AccessTokenExpirationInSeconds=900
Jwt__RefreshTokenExpirationInSeconds=2592000

MSSQL_SA_PASSWORD=STRong_password123
MSSQL_DATABASE=school_chat_db
MSSQL_USER=school_chat_owner
MSSQL_USER_PASSWORD=STRong_password123